body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.options {
  height: 100px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  border: solid black 1px;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
}

.cell {
  border: 0.1px solid black;
  box-sizing: border-box;
}
